<nb-layout-column>
    @for (input of inputs; track input.name) {
    <nb-card>
        <nb-card-header>{{ input.name }}</nb-card-header>
        <nb-card-body>
            <nb-tag-list>
                <nb-tag status="primary" appearance="outline" text="{{input.dataType}}"></nb-tag>
                <nb-tag status="success" appearance="outline"
                    text="{{input.required ? 'Required' : 'Optional'}}"></nb-tag>
            </nb-tag-list>
                </nb-card-body>
            <nb-card-footer>
                <button nbButton status="primary" size="small" (click)="this.editInput(input)">Editar <nb-icon icon="edit"></nb-icon>
                </button>
                <button nbButton status="danger" size="small" (click)="this.deleteInput(input.id!)">Eliminar <nb-icon
                        icon="trash"></nb-icon>
                </button>
            </nb-card-footer>
</nb-card>
}
<button nbButton status="primary" size="giant" (click)="this.addInput()">Agregar <nb-icon icon="plus"></nb-icon>
</button>
</nb-layout-column>