<nb-layout-column>
    @for (input of inputs; track input.id) {
    <nb-card>
        <nb-card-header>{{ input.name }}</nb-card-header>
        <nb-card-body>
            <nb-tag-list>
                <nb-tag status="primary" appearance="outline" text="{{input.dataType}}"></nb-tag>
                <nb-tag status="success" appearance="outline"
                    text="{{input.required ? 'Required' : 'Optional'}}"></nb-tag>
            </nb-tag-list>
                </nb-card-body>
            <nb-card-footer>
                <div class="action-buttons">
                    <button nbButton status="primary" size="small" (click)="this.showInputFormDialog(input)">Editar <nb-icon
                            icon="edit"></nb-icon>
                    </button>
                    <button nbButton status="danger" size="small" (click)="this.deleteInput(input.id!)">Eliminar <nb-icon
                        icon="trash"></nb-icon>
                    </button>
                </div>
            </nb-card-footer>
</nb-card>
}
<button nbButton status="primary" size="giant" (click)="this.showInputFormDialog()">Agregar <nb-icon
        icon="plus"></nb-icon>
</button>
</nb-layout-column>