<nb-card>
    <nb-card-header>Formulario de estructura</nb-card-header>
    <nb-card-body class="form" [formGroup]="formGroup">
        <input [formControlName]="'name'" nbInput fullWidth placeholder="Nombre">
        <textarea [formControlName]="'description'" nbInput fullWidth placeholder="Descripcion"></textarea>
        <form-builder-input-list [values]="this.inputs" />

        <nb-button-group>
            <button nbButton status="primary" size="small" (click)="onSaveFormStructure()">Guardar <nb-icon icon="save"></nb-icon>
            </button>
        </nb-button-group>

    </nb-card-body>
</nb-card>