/* You can add global styles to this file, and also import other style files */
.action-buttons {
    display: flex;
    gap: 1em;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: left;
    padding: .5em;
}